a:link
{
   color: black;
   background: transparent;
   text-decoration: none;
}

a:visited
{
   color: black;
   background: transparent;
   text-decoration: none;
}

a:hover
{
   color: black;
   background: transparent;
   text-decoration: underline;
}

a:active
{
   color: black;
   background: transparent;
   text-decoration: none;
}

.avatar
{
   max-width: 25px;
   width: 100%;
   height: auto;
}